<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <span>{{tools.title}}</span>
    <span flex></span>
    <button md-icon-button *ngFor="let tool of tools.actions" mdTooltip="{{tool.tooltip}}" (click)="tool.callback.call()">
      <md-icon class="md-24">{{tool.icon}}</md-icon>
    </button>
    <button md-icon-button [md-menu-trigger-for]="posXMenu" *ngIf="tools.more">
      <md-icon class="md-24">more_vert</md-icon>
    </button>
  </div>
</md-toolbar>

<md-menu x-position="before" #posXMenu="mdMenu">
  <button md-menu-item *ngFor="let tool of tools.more" mdTooltip="{{tool.tooltip}}" (click)="tool.callback.call()">
    {{tool.text}}
  </button>
</md-menu>
