<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <span>{{tools.title}}</span>
    <span flex></span>
    <button mat-icon-button *ngFor="let tool of tools.actions" matTooltip="{{tool.tooltip}}" (click)="tool.callback.call()">
      <mat-icon class="mat-24">{{tool.icon}}</mat-icon>
    </button>
    <button mat-icon-button [mat-menu-trigger-for]="posXMenu" *ngIf="tools.more">
      <mat-icon class="mat-24">more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu x-position="before" #posXMenu="matMenu">
  <button mat-menu-item *ngFor="let tool of tools.more" matTooltip="{{tool.tooltip}}" (click)="tool.callback.call()">
    {{tool.text}}
  </button>
</mat-menu>
