<div class="auth-main">
  <a class="logo-wrapper" routerLink="/">
    <img class="logo" src="assets/imgs/logo.png" />
  </a>
  <div class="auth-block" @flyInFromTopAndScale>
    <mat-card>
      <ng-template tdLoading="resetpass" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingColor="accent"></ng-template>
      <form #resetForm="ngForm" (ngSubmit)="doPasswordReset()">
        <mat-card-title>RESET PASSWORD</mat-card-title>
        <tq-message [value]="notificationMsg"></tq-message>
        <mat-card-content>
            <div>
              <mat-input-container>
                <span mat-prefix><mat-icon>lock</mat-icon></span>
                <input matInput flex placeholder="New Password" type="password" name="newPassword" [(ngModel)]="newPassword" required (focus)="resetNotification()">
              </mat-input-container>
            </div>
            <div>
              <mat-input-container>
                <span mat-prefix><mat-icon>lock</mat-icon></span>
                <input matInput flex placeholder="Repeat Password" type="password" name="repeatpassword" [(ngModel)]="repeatpassword" required (focus)="resetNotification()">
              </mat-input-container>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" type="submit">RESET</button>
        </mat-card-actions>
        <mat-card-actions align="center">
          Go ahead and <a routerLink="/login">Login Now</a>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2017 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
