
.auth-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #1080f2;
}

.auth-block {
  margin: 1% auto 15px auto;
  width: 400px;
  height: 360px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 1px rgba(0,0,0,0.75);
  background: #1080f2;
}

md-input-container {
  margin: 8px 0;
  width: 100%;
}

.form {
  display: flex;
}

md-card-title {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

md-card-subtitle {
  text-align: center;
}

md-card {
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  margin: 2% auto 2% auto;
}

md-card-content {
  margin-bottom: 0px!important;
}

md-card-actions {
  margin: 0px 16px!important;
}

.login-copy {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  color: darkgrey;
}

.logo {
  width: 250px;
  height: 50px;
}

.logo-wrapper {
  margin-top: 4%;
}
