<div class="auth-main">
  <a class="logo-wrapper" routerLink="/">
    <img class="logo" src="assets/imgs/logo.png" />
  </a>
  <div class="auth-block" @flyInFromTopAndScale>
    <mat-card>
      <ng-template tdLoading="forgotpass" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingColor="accent"></ng-template>
      <form #forgotForm="ngForm" (ngSubmit)="sendPasswordResetMail()">
        <mat-card-title>FORGOT PASSWORD</mat-card-title>
        <tq-message [value]="notificationMsg"></tq-message>
        <mat-card-content>
            <div>
              <mat-input-container>
                <input matInput flex placeholder="Email" type="text" name="email" [(ngModel)]="email" required (focus)="resetNotification()">
              </mat-input-container>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" type="submit" [disabled]="!forgotForm.valid">RESET</button>
        </mat-card-actions>
        <br />
        <mat-card-actions align="center">
          Remember your password? <a routerLink="/login">Login Now</a>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2016 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
