<div class="auth-main">
  <a class="logo-wrapper" routerLink="/">
    <img class="logo" src="assets/imgs/logo.png" />
  </a>
  <div class="auth-block" @flyInFromTopAndScale>
    <md-card>
      <template tdLoading="forgotpass" loadingType="linear" loadingMode="indeterminate"></template>
      <form #forgotForm="ngForm" (ngSubmit)="sendPasswordResetMail()">
        <md-card-title>FORGOT PASSWORD</md-card-title>
        <tq-message [value]="notificationMsg"></tq-message>
        <md-card-content>
            <div>
              <md-input flex placeholder="Email" type="text" name="email" [(ngModel)]="email" required (focus)="resetNotification()">
                <span md-prefix><md-icon>mail</md-icon></span>
              </md-input>
            </div>
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="accent" type="submit" [disabled]="forgotForm.form.invalid">RESET</button>
        </md-card-actions>
        <br />
        <md-card-actions align="center">
          Remember your password? <a routerLink="/login">Login Now</a>
        </md-card-actions>
      </form>
    </md-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2016 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
