<div class="mat-content" flex mat-scroll-y>
<mat-card tdMediaToggle="gt-xs" class="container-card">
  <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true"></td-search-box>
  <mat-divider></mat-divider>
  <div layout="row" class="my-apps">
    <div flex="33" layout="column">
      <mat-card class="mat-card-colored" flex>
        <mat-card-content class="text-center">
          <div class="mat-headline">{{ '2341'| digits }} <mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon></div>
          <mat-icon class="icon tc-indigo-700">perm_contact_calendar</mat-icon>
          <div layout="column">
            <div class="mat-subhead">Test DataGen</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
        <br />
        <mat-card-footer align="center">
          <button mat-icon-button mat-tooltip="Make it Default"><mat-icon>check_box_outline_blank</mat-icon></button>
          <button mat-icon-button mat-tooltip="Edit"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button mat-tooltip="Delete"><mat-icon>delete</mat-icon></button>
        </mat-card-footer>
      </mat-card>
    </div>
    <div flex="33" layout="column">
      <mat-card class="mat-card-colored" flex>
        <mat-card-content class="text-center">
          <div class="mat-headline">{{ '72452903343' | bytes }} <mat-icon class="tc-red-500 text-sm">arrow_downward</mat-icon></div>
          <mat-icon class="icon tc-light-blue-700">sd_storage</mat-icon>
          <div layout="column">
            <div class="mat-subhead">tQuesto</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-07-18 11:02:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
        <br />
        <mat-card-footer class="default-app">
            <button mat-icon-button color="accent"><mat-icon>check_circle</mat-icon></button>
            DEFAULT
        </mat-card-footer>
      </mat-card>
    </div>
    <div flex="33" layout="column">
      <mat-card class="mat-card-colored" flex>
        <mat-card-content class="text-center">
          <div class="mat-headline">{{ '324523' | digits}} <mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon></div>
          <mat-icon class="icon tc-cyan-700">receipt</mat-icon>
          <div layout="column">
            <div class="mat-subhead">Resting</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
        <br />
        <mat-card-footer align="center">
          <button mat-icon-button mat-tooltip="Make it Default"><mat-icon>check_box_outline_blank</mat-icon></button>
          <button mat-icon-button mat-tooltip="Edit"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button mat-tooltip="Delete"><mat-icon>delete</mat-icon></button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</mat-card>
</div>
