<div class="md-content" flex md-scroll-y>

  <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true"></td-search-box>

  <div layout="row">
    <div flex="33" layout="column">
      <md-card class="md-card-colored" flex>
        <md-card-content class="text-center">
          <div class="md-headline">{{ '2341'| digits }} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
          <md-icon class="icon tc-indigo-700">perm_contact_calendar</md-icon>
          <div layout="column">
            <div class="md-subhead">Test DataGen</div>
            <div class="md-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex="33" layout="column">
      <md-card class="md-card-colored" flex>
        <md-card-content class="text-center">
          <div class="md-headline">{{ '72452903343' | bytes }} <md-icon class="tc-red-500 text-sm">arrow_downward</md-icon></div>
          <md-icon class="icon tc-light-blue-700">sd_storage</md-icon>
          <div layout="column">
            <div class="md-subhead">tQuesto</div>
            <div class="md-caption tc-grey-600">updated {{ '2016-07-18 11:02:59' | timeAgo }}</div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex="33" layout="column">
      <md-card class="md-card-colored" flex>
        <md-card-content class="text-center">
          <div class="md-headline">{{ '324523' | digits}} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
          <md-icon class="icon tc-cyan-700">receipt</md-icon>
          <div layout="column">
            <div class="md-subhead">Resting</div>
            <div class="md-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo }}</div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <button md-fab color="accent" class="md-fab-position-bottom-right" [routerLink]="['add']"> 
    <md-icon>add</md-icon>
  </button>
</div>
