<div class="mat-content" flex mat-scroll-y>
  <mat-card tdMediaToggle="gt-xs" class="container-card">
      <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="filterUsers($event)"></td-search-box>
      <mat-divider></mat-divider>
      <ng-template tdLoading="users.list">
        <mat-list class="will-load">
          <div class="mat-padding" *ngIf="!filteredUsers || filteredUsers.length === 0" layout="row" layout-align="center center">
            <h3>No users to display.</h3>
          </div>
          <ng-template let-user let-last="last" ngFor [ngForOf]="filteredUsers">
            <mat-list-item>
              <mat-icon mat-list-avatar>person</mat-icon>
              <h3 mat-line> {{user.userName}} </h3>
              <p mat-line> {{user.email}} </p>
              <p mat-line hide-gt-md class="mat-caption"> {{ user.phone }} </p>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500">{{ user.firstName }} {{ user.lastName }}</div>
              </span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500">{{ user.phone }} </div>
              </span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500">Activated: {{ user.activated }} </div>
              </span>
              <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="matMenu">
                      <a [routerLink]="[user.userName + '/edit']" mat-menu-item>Edit</a>
                      <button (click)="deleteUser(user.userName)" mat-menu-item>Delete</button>
                  </mat-menu>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <span class="count-msg"> {{(filteredUsers)?filteredUsers.length:0}} records found! </span>
      </mat-card-actions>
    </mat-card>

</div>

