<div class="auth-main">
  <a class="logo-wrapper" routerLink="/">
    <img class="logo" src="assets/imgs/logo.png" />
  </a>
  <div class="auth-block" @flyInFromTopAndScale>
    <md-card>
      <ng-template tdLoading="register" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingColor="accent"></ng-template>
      <form #registrationForm="ngForm" (ngSubmit)="doRegistration(registrationForm.value)">
        <md-card-title>NEW REGISTERATION</md-card-title>
        <tq-message [value]="notificationMsg"></tq-message>
        <md-card-content>
            <div>
              <md-input-container>
                <span md-prefix><md-icon>mail</md-icon></span>
                <input mdInput flex placeholder="Email" type="email" name="email" [(ngModel)]="email" required (focus)="resetNotification()">
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <span md-prefix><md-icon>person</md-icon></span>
                <input mdInput flex placeholder="Username" type="text" name="userName" [(ngModel)]="userName" required (focus)="resetNotification()">
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <span md-prefix><md-icon>lock</md-icon></span>
                <input mdInput flex placeholder="Password" type="password" name="password" [(ngModel)]="password" required (focus)="resetNotification()">
              </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions align="end">
          <md-slide-toggle color="accent" [(ngModel)]="tnc" name="tnc">
            Accept <a (click)="showTnc($event)">Terms and Conditions?</a>
          </md-slide-toggle>        
          <span class="fill-remaining-space"></span>
          <button align="end" md-raised-button color="accent" type="submit" [disabled]="registrationForm.form.invalid">REGISTER</button>
        </md-card-actions>
        <br />
        <md-card-actions align="center">
          Already have an account? <a routerLink="/login">Login Now</a>
        </md-card-actions>
      </form>
    </md-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2016 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
