<div class="md-content" flex md-scroll-y>
  <md-card tdMediaToggle="gt-xs" class="container-card">
      <md-card-title>User Creation Form</md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">
        <form #userForm="ngForm">
          <div layout="row">
            <md-input-container flex> 
              <input mdInput
                      #userNameElement
                      #userNameControl="ngModel"
                      type="text" 
                      placeholder="User Name" 
                      [(ngModel)]="userName" 
                      name="userName" 
                      maxlength="20" 
                      required>
              <md-hint align="start">
                <span [hidden]="userNameControl.pristine || !userNameControl.errors?.required" class="tc-red-600">User Name is required!</span>
              </md-hint>
              <md-hint align="end">{{userNameElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #firstNameElement
                      #firstNameControl="ngModel"
                      type="text" 
                      placeholder="First Name" 
                      [(ngModel)]="firstName" 
                      name="firstName" 
                      maxlength="20">
              <md-hint align="start">
                <span [hidden]="firstNameControl.pristine || !firstNameControl.errors?.required" class="tc-red-600">First Name is required!</span>
              </md-hint>
              <md-hint align="end">{{firstNameElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #lastNameElement
                      #lastNameControl="ngModel"
                      type="text" 
                      placeholder="Last Name" 
                      [(ngModel)]="lastName" 
                      name="lastName" 
                      maxlength="20">
              <md-hint align="start">
                <span [hidden]="lastNameControl.pristine || !lastNameControl.errors?.required" class="tc-red-600">Last Name is required!</span>
              </md-hint>
              <md-hint align="end">{{lastNameElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #emailElement
                      #emailControl="ngModel"
                      type="text" 
                      placeholder="Email" 
                      [(ngModel)]="email" 
                      name="email"
                      maxlength="30"
                      required>
              <md-hint align="start">
                <span [hidden]="emailControl.pristine || !emailControl.errors?.pattern" class="tc-red-600">That's not an email!</span>
              </md-hint>
              <md-hint align="end">{{emailElement.value.length}} / 30</md-hint>
            </md-input-container>
          </div>
          <div layout="row" class="push-top">
            <md-input-container flex> 
              <input mdInput
                      #phoneElement
                      #phoneControl="ngModel"
                      type="text" 
                      placeholder="Phone" 
                      [(ngModel)]="phone" 
                      name="phone"
                      maxlength="20">
              <md-hint align="start">
                <span [hidden]="phoneControl.pristine || !phoneControl.errors?.pattern" class="tc-red-600">That's not a phone number!</span>
              </md-hint>
              <md-hint align="end">{{phoneElement.value.length}} / 20</md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            <md-slide-toggle [(ngModel)]="activated" name="activated">Activate</md-slide-toggle>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">SAVE</button>
        <button md-button (click)="goBack()">CANCEL</button>
      </md-card-actions>
    </md-card>
</div>
