<div class="mat-content" flex mat-scroll-y>
  <mat-card tdMediaToggle="gt-xs" class="container-card"> 
    <div>
      <h4>Access Details</h4>
      <mat-list>
        <mat-list-item>tQuesto</mat-list-item>
        <mat-list-item>testdatagen</mat-list-item>
      </mat-list>
    </div>
    <br/>
    <div>
      <h4>SDK Integration</h4>
      <div>
        <p>Integrate tQuesto SDK in your web/mobile application to start collecting your analytics data. 
          tQuesto provides SDK for folllowing platforms:

          <ul>
            <li>Javascript SDK</li>
            <li>Android SDK</li>
            <li>iOS SDK</li>
            <li>Java SDK</li>
          </ul>

          Select your appropriate SDK based on your application platform.
      </div>
    </div>
  </mat-card>
</div>


