<div class="md-content" flex md-scroll-y>
  <md-card tdMediaToggle="gt-xs" class="container-card"> 
    <div>
      <h4>Access Details</h4>
      <md-list>
        <md-list-item>tQuesto</md-list-item>
        <md-list-item>testdatagen</md-list-item>
      </md-list>
    </div>
    <br/>
    <div>
      <h4>SDK Integration</h4>
      <div>
        <p>Integrate tQuesto SDK in your web/mobile application to start collecting your analytics data. 
          tQuesto provides SDK for folllowing platforms:

          <ul>
            <li>Javascript SDK</li>
            <li>Android SDK</li>
            <li>iOS SDK</li>
            <li>Java SDK</li>
          </ul>

          Select your appropriate SDK based on your application platform.
      </div>
    </div>
  </md-card>
</div>


