<div class="fullscreen">
  <div class="center-box">
    <md-card>
      <md-card-title>404</md-card-title>
      <md-card-subtitle>Page Not Found!</md-card-subtitle>
      <md-divider></md-divider>
      <md-card-content>
        <br />
        <span>Oops! The page you are looking for does not exist!</span>
        <br />
      </md-card-content>
      <md-card-actions align="center">
        <a md-raised-button class="go-home" color="accent" href="/">GO HOME</a>
      </md-card-actions>
    </md-card>
  </div>
</div>
