<div class="auth-main">
  <a class="logo-wrapper" routerLink="/">
    <img class="logo" src="assets/imgs/logo.png" />
  </a>
  <div class="auth-block" @flyInFromTopAndScale>
    <mat-card>
      <ng-template tdLoading="login" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingColor="accent"></ng-template>
      <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
        <mat-card-title>LOGIN HERE</mat-card-title>
        <tq-message [value]="notificationMsg"></tq-message>
        <mat-card-content>
            <div>
              <mat-input-container>
                <input matInput placeholder="Username" type="text" name="userName" [(ngModel)]="userName" required (focus)="resetNotification()">
              </mat-input-container>
            </div>
            <div>
              <mat-input-container>
                <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required (focus)="resetNotification()">
              </mat-input-container>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <mat-checkbox indeterminate="true" name="rememberMe" [(ngModel)]="rememberMe"> Remember Me</mat-checkbox>
          <span class="fill-remaining-space"></span>
          <button align="end" mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">SIGN IN</button>
        </mat-card-actions>
        <mat-card-actions align="center">
          <div>Don't have an account? <a routerLink="/registration">Create a New One</a></div>
          <br/>
          <div><a routerLink="/forgotpassword">Forgot Password?</a></div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2016 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
