<div class="auth-main">
  <img class="logo" src="assets/imgs/logo.png" />
  <div class="auth-block" @flyInFromTopAndScale>
    <md-card>
      <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm.value)">
        <md-card-title>LOGIN HERE</md-card-title>
        <md-card-subtitle>Sign In via your username and password!</md-card-subtitle>
        <div class="loginMsg">
          <!-- Show message here -->
        </div>
        <md-card-content>
            <div>
              <md-input flex placeholder="Username" type="text" name="userName" [(ngModel)]="userName" required (keypress)="hideNotification()">
                <span md-prefix><md-icon>person</md-icon></span>
              </md-input>
            </div>
            <div>
              <md-input flex placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                <span md-prefix><md-icon>lock</md-icon></span>
              </md-input>
            </div>
        </md-card-content>
        <md-card-actions align="end">
          <md-checkbox indeterminate="true">Remember Me</md-checkbox>
          <span class="fill-remaining-space"></span>
          <button align="end" md-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid">SIGN IN</button>
        </md-card-actions>
        <br />
        <md-card-actions align="center">
          Don't have an account? <a routerLink="/registration">Create a New One</a>
        </md-card-actions>
      </form>
    </md-card>
  </div>
  <footer class="clearfix">
    <span class="login-copy">Copyright &copy; 2016 Anitech Consulting Services Pvt Ltd.</span>
  </footer>
</div>
