<td-layout-nav [class.collapse]="!sideNavOpened" logo="assets:logo" [class]="getSelectedTheme()">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span flex></span>
    <button md-icon-button mdTooltip="Notifications" [mdMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="6">
         <md-icon>notifications</md-icon>
      </td-notification-count>
    </button>
    <button md-icon-button mdTooltip="Full Screen" (click)="toggleFullscreen()" tqFullscreen>
      <md-icon>{{(!isFullscreen)?'fullscreen':'fullscreen_exit'}}</md-icon>
    </button>
    <button md-icon-button mdTooltip="Tapas" [md-menu-trigger-for]="menu">
      <img src="assets/imgs/avtar.jpg" class="avatar"/>
    </button>
  </div>
  <td-layout-manage-list #manageList >
    <md-toolbar td-sidenav-content class="pad0">
      <button md-icon-button td-menu-button mdTooltip="Expand/Collapse" mdTooltipPosition="after" (click)="toggleSidebar()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <span flex *ngIf="sideNavOpened">TestDataGen</span>
      <button md-icon-button color="accent" mdTooltip="My Apps" [routerLink]="['/home/myapps']">
          <md-icon>apps</md-icon>
      </button>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/dashboard']">
        <md-icon md-list-icon>dashboard</md-icon>
        Dashboard
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/analytics']">
        <md-icon md-list-icon>visibility</md-icon>
        Analytics
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/events']">
        <md-icon md-list-icon>donut_small</md-icon>
        Events
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/performance']">
        <md-icon md-list-icon>network_check</md-icon>
        Performance
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/engagement']">
        <md-icon md-list-icon>blur_linear</md-icon>
        Engagement
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/compagion']">
        <md-icon md-list-icon>broken_image</md-icon>
        Compagions
      </a>
      <md-divider></md-divider>
      <span md-subheader class="menuHeader">{{(sideNavOpened)?"Administration":"Adm"}}</span>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/users']">
        <md-icon md-list-icon>people</md-icon>
        User Management
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/integration']">
        <md-icon md-list-icon>receipt</md-icon>
        Integration
      </a>
      <md-divider></md-divider>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!media.query('gt-sm') && manageList.close()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/configuration']">
        <md-icon md-list-icon>settings_applications</md-icon>
        Settings
      </a>
    </md-nav-list>
    <tq-toolbox [tools]="getTools()"></tq-toolbox>

    <router-outlet></router-outlet>

    <tq-footer></tq-footer>

  </td-layout-manage-list>

</td-layout-nav>


<md-menu x-position="before" y-position="below" #menu="mdMenu">
  <a md-menu-item [routerLink]="['/home/users/profile']"><md-icon md-list-icon>person</md-icon>Profile</a>
  <a md-menu-item (click)="showPreferences()"><md-icon md-list-icon>settings</md-icon>Preferences</a>
  <a md-menu-item href="http://docs.tquesto.com" target="_blank"><md-icon md-list-icon>help</md-icon>Help</a>
  <a md-menu-item (click)="doLogout()"><md-icon md-list-icon>power_settings_new</md-icon>Sign Out</a>
</md-menu>

<md-menu x-position="before" y-position="below" #notificationsMenu="mdMenu">
  <td-menu>
    <div td-menu-header class="md-subhead">Recent Notifications</div>
    <md-nav-list dense>
      <a md-list-item [routerLink]="['/components/notifications']">
        <md-icon md-list-avatar>notifications</md-icon>
        <h4 md-line><span class="text-wrap">Notifications component added</span></h4>
        <p md-line>New component</p>
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/components/dynamic-forms']">
        <md-icon md-list-avatar>format_align_center</md-icon>
        <h4 md-line><span class="text-wrap">JSON driven dynamic forms</span></h4>
        <p md-line>New component</p>
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/layouts']">
        <md-icon md-list-avatar>call_to_action</md-icon>
        <h4 md-line><span class="text-wrap">Sticky footer added to layouts</span></h4>
        <p md-line>Component updated</p>
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/components/data-table']">
        <md-icon md-list-avatar>grid_on</md-icon>
        <h4 md-line><span class="text-wrap">Nested object support for data-table</span></h4>
        <p md-line>Component updated</p>
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['/components/http']">
        <md-icon md-list-avatar>http</md-icon>
        <h4 md-line><span class="text-wrap">HTTP path interceptors &amp; transform support</span></h4>
        <p md-line>Service updated</p>
      </a>
      <md-divider></md-divider>
      <a md-list-item href="https://github.com/Teradata/covalent/blob/develop/package.json#L53-L58" target="_blank">
        <md-icon md-list-avatar>notifications</md-icon>
        <h4 md-line><span class="text-wrap">Angular 2.4.1 &amp; Material2 Beta1</span></h4>
        <p md-line>Dependencies updated</p>
      </a>
    </md-nav-list>
    <button md-button color="accent" td-menu-footer [routerLink]="['/home/notifications']">
      View More
    </button>
  </td-menu>
</md-menu>
