<td-layout-nav [class.collapse]="!sideNavOpened" logo="assets/imgs/logo.svg" (openMenu)="toggleSidebar()" >
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span></span>
    <span flex></span>
    <button md-button class="md-icon-button" md-tooltip="Notifications"><md-icon class="md-24">notifications</md-icon></button>
    <button md-button class="md-icon-button" md-tooltip="Full Screen" (click)="toggleFullscreen()" tqFullscreen><md-icon class="md-24">{{(!isFullscreen)?'fullscreen':'fullscreen_exit'}}</md-icon></button>
    <button md-button class="md-icon-button" md-tooltip="Tapas" [md-menu-trigger-for]="menu" ><md-icon class="md-24">account_circle</md-icon></button>
  </div>
  <td-layout-manage-list #list >
    <md-toolbar list-items>   
      <span flex *ngIf="sideNavOpened">TestDataGen</span>
      <button md-button class="md-icon-button" color="accent" [routerLink]="['/home/myapps']">
          <md-icon class="md-24">apps</md-icon>
      </button>
    </md-toolbar>
    <md-nav-list list-items>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/dashboard']">
        <md-icon md-list-icon>dashboard</md-icon>
        Dashboard
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/events/analytics']">
        <md-icon md-list-icon>insert_chart</md-icon>
        Analytics
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/reports']">
        <md-icon md-list-icon>donut_small</md-icon>
        Reports
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/events/engagement']">
        <md-icon md-list-icon>broken_image</md-icon>
        Engagement
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/events/compagion']">
        <md-icon md-list-icon>gradient</md-icon>
        Compagion
      </a>
      <span md-subheader class="menuHeader">Administration</span>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/users']">
        <md-icon md-list-icon>people</md-icon>
        User Management
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/integration']">
        <md-icon md-list-icon>receipt</md-icon>
        Integration
      </a>
      <md-divider></md-divider>
      <a md-list-item 
        md-ripple class="block relative"
        (click)="list.toggle()"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/home/configuration']">
        <md-icon md-list-icon>settings_applications</md-icon>
        Settings
      </a>
    </md-nav-list>

    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span>{{title}}</span>
      <span flex></span>
      <button md-button class="md-icon-button"><md-icon class="md-24">view_module</md-icon></button>
      <button md-button class="md-icon-button"><md-icon class="md-24">dehaze</md-icon></button>
      <button md-button class="md-icon-button"><md-icon class="md-24">refresh</md-icon></button>
      <button md-button class="md-icon-button"><md-icon class="md-24">style</md-icon></button>
      <button md-button class="md-icon-button" [md-menu-trigger-for]="posXMenu" ><md-icon class="md-24">more_vert</md-icon></button>
    </div>

    <router-outlet></router-outlet>   

    <tq-footer></tq-footer>

  </td-layout-manage-list>

</td-layout-nav>

<md-menu x-position="before" #menu="mdMenu" class="before">
    <button md-menu-item><md-icon md-list-icon>person</md-icon> Profile </button>
    <button md-menu-item><md-icon md-list-icon>settings</md-icon> Preferences </button>
    <button md-menu-item><md-icon md-list-icon>help</md-icon> Help </button>
    <button md-menu-item><md-icon md-list-icon>power_settings_new</md-icon> Sign Out </button>
</md-menu>

<md-menu x-position="before" #posXMenu="mdMenu" class="before">
    <button md-menu-item> View All </button>
    <button md-menu-item> Edit </button>
    <button md-menu-item> Delete </button>
</md-menu>